.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // background-color: cyan;
}

.title {
  display: flex;
  // font-family: SFProDisplay, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  margin: 0;
}

.hint {
  margin-left: 4px;
  box-sizing: border-box;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
